@import '../../style/shared.scss';

.panel {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: $grey-lightest;

  header {
    margin: 1rem 0;

    h3 {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

#add-panel {
  border-right: 1px solid $grey;
}