@import '../../style/shared.scss';

.side-panel {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-right: 1px solid $grey;
  background-color: $grey-lightest;

  button {
    width: 100%;
  }
}