
@import '../../style/shared.scss';

.selected-category {
  padding: 1rem;
  background-color: $grey-light;
  color: $grey-dark;
  position: relative;

  .close-button {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
  }
}