@import '../../style/shared.scss';

.product-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  header {
    padding: 1rem;
    border-bottom: 1px solid $grey;

    h3 {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .alert {
    height: 100%;
    color: $grey-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    text-align: center;
  }

  .scrollable {
    overflow: scroll;
  }
}