$text-light: #FFFFFF;
$text-dark: #2A2E35;

$blue-lightest: #1A4971;
$blue-light: #2368A2;
$blue: #3183C8;
$blue-dark: #003087;
$blue-darkest: #001364;

$green-lightest: #70E984;
$green-light: #53D86D;
$green: #36C756;
$green-dark: #26943C;
$green-darkest: #166222;

$red-lightest: #FCE8E8;
$red-light: #F4AAAA;
$red: #DC3030;
$red-dark: #881A1B;
$red-darkest: #661717;

$grey-lightest: #F5F7FA;
$grey-light: #EDF1F5;
$grey: #D4DDE9;
$grey-dark: #617691;
$grey-darkest: #122740;