$text-light: #FFFFFF;
$text-dark: #2A2E35;

$blue-lighter: #92A6CF;
$blue-light: #428FFF;
$blue: #0066FF;
$blue-dark: #003087;
$blue-darker: #001364;

$green-lighter: #70E984;
$green-light: #53D86D;
$green: #36C756;
$green-dark: #26943C;
$green-darker: #166222;

$grey-lighter: #C0C1C3;
$grey-light: #929296;
$grey: #646369;
$grey-dark: #585858;
$grey-darker: #323232;