@import '../../style/shared.scss';

button {
  cursor: pointer;
  color: $text-light;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-red {
  background-color: $red;
  color: $text-light;
  fill: $text-light;

  &.btn-outline {
    border: 1px solid $red;
    background-color: transparent;
    fill: $red;

    &:hover {
      background-color: $red;
      fill: $text-light;
    }
  }

  &:hover {
    background-color: $red-darkest;
  }
}

.btn-green {
  background-color: $green;

  &:hover {
    background-color: $green-darkest;
  }
}