@import '../../style/shared.scss';

#edit-panel {
  border-left: 1px solid $grey;
  position: relative;

  header button {
    color: $text-dark;
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.3rem;
    border-radius: 100%;

    &:hover {
      background-color: $grey;
    }
  }
}